**/.gradle
**/.idea
**/.mvn
**/.git
**/target
**/.settings
**/.classpath
**/build
.idea/*
quarkus/vue/node_modules
springcloud/front/public
springcloud/front/node_modules
springcloud/gradle
springcloud/backend/*/build
springcloud/backend/*/build/libs
springcloud/backend/.gradle
JavaFx/logs
quarkus/target
.idea/workspace.xml
.idea/workspace.xml
.idea/workspace.xml
/.idea
.idea/workspace.xml
/.idea
/springboot/.idea
/springcloud/backend/.gradle
/springcloud/backend/build
/springcloud/backend/gradle
/springcloud/backend/MySQL/build
